body {
	font-family: 'Poppins', Arial, sans-serif;
	color: #555;
}

.boxCenter {
	/*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	*/
    height: 100vh;
    text-align: center;
}